*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    min-height: 400px;
    border: 1px solid #000;
    margin: 30px auto;
    padding: 10px;
}
.container .inputs-co , 
.container .btns-co,
.item{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;

}
.container .inputs-co input{
    flex: 1;
    margin: 0 4px;
    padding: 10px;
    font-size: 22px;
    outline: none;
    border: 1px solid #ccc;
}
.container .inputs-co input:hover{
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.329);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.329);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.329);
    transition: .5s;
}
.container .items{
    width: 100%;
    min-height: 100px;
    background-color: rgb(189, 189, 189);
    padding: 20px;
}
.container .items .item{padding: 5px;}
.container .items .item .text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.container .items .item a.del{
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    opacity: .94;
    cursor: pointer;
}
.container .items .item{
    justify-content: space-between;
    align-items: center;
}
.container .btns-co{
    justify-content: center;
    align-items: center;
}
.container .btns-co a{
    padding: 10px 15px;
    margin-left: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 8px;
    opacity: .94;
}
.container .btns-co a:nth-of-type(1){
    background-color: rgb(0, 19, 187);
    color: #fff;
}
.container .btns-co a:nth-of-type(2){
    background-color: transparent;
    color: #000;
    border: 1px solid #ccc;
}
.container .btns-co a:nth-of-type(2).colorRedBtn{
    background-color: #ff0000;
}
.container .btns-co a:nth-of-type(3){
    border: 1px solid #3cff00;
}
.container .btns-co a:hover,
.container .items .del a:hover{
    opacity: 1;
}

/* Active */
.container .items.active .item{
    background-color: #3cff007a;
    border-radius: 8px;
}
